section.links
    .container
       .links__about
        img(src="../img/logo.png", alt="")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
       .links__lists
        .links__list-item
            .links__list-item-title Основные ссылки 
            ul
                li О компании
                li Каталог
                li Доставка
                li Оплата
        .links__list-item
            .links__list-item-title Категории 
            ul
                li Мужская одежда
                li Женская одежда
                li Детская одежда
                li Для животных
        .links__list-item
            .links__list-item-title ПОЛЕЗНЫЕ ССЫЛКИ 
            ul
                li Таблица размеров
                li Блог о моде
                li Наша миссия
        .links__list-item
            .links__list-item-title СОЦ СЕТИ 
            ul
                li.vk-link VK.com
                li.fb-link Facebook
                li.inst-link Instagram

                
                      

                
